Sources/.vs/
Sources/ComponentBuilder/bin/
Sources/ComponentBuilder/obj/
Sources/Tuvi.Core/bin/
Sources/Tuvi.Core/obj/
Sources/Tuvi.Core.Backup/bin/
Sources/Tuvi.Core.Backup/obj/
Sources/Tuvi.Core.Backup.Impl/bin/
Sources/Tuvi.Core.Backup.Impl/obj/
Sources/Tuvi.Core.DataStorage/bin/
Sources/Tuvi.Core.DataStorage/obj/
Sources/Tuvi.Core.DataStorage.Impl/bin/
Sources/Tuvi.Core.DataStorage.Impl/obj/
Sources/Tuvi.Core.Dec/bin/
Sources/Tuvi.Core.Dec/obj/
Sources/Tuvi.Core.Dec.Web.Impl/bin/
Sources/Tuvi.Core.Dec.Web.Impl/obj/
Sources/Tuvi.Core.Entities/bin/
Sources/Tuvi.Core.Entities/obj/
Sources/Tuvi.Core.Impl/bin/
Sources/Tuvi.Core.Impl/obj/
Sources/Tuvi.Core.Logging/bin/
Sources/Tuvi.Core.Logging/obj/
Sources/Tuvi.Core.Mail/bin/
Sources/Tuvi.Core.Mail/obj/
Sources/Tuvi.Core.Mail.Impl/bin/
Sources/Tuvi.Core.Mail.Impl/obj/
Sources/Tuvi.Core.Web.BackupService/bin/
Sources/Tuvi.Core.Web.BackupService/obj/
Sources/Tuvi.Core.Web.BackupServiceClient/bin/
Sources/Tuvi.Core.Web.BackupServiceClient/obj/
Sources/Tuvi.Proton/bin/
Sources/Tuvi.Proton/obj/
Sources/Tuvi.Proton.Impl/bin/
Sources/Tuvi.Proton.Impl/obj/
Sources/Tests/SecurityManagementTests/bin/
Sources/Tests/SecurityManagementTests/obj/
Sources/Tests/Tuvi.Core.Backup.Impl.Tests/bin/
Sources/Tests/Tuvi.Core.Backup.Impl.Tests/obj/
Sources/Tests/Tuvi.Core.DataStorage.Impl.Tests/bin/
Sources/Tests/Tuvi.Core.DataStorage.Impl.Tests/obj/
Sources/Tests/Tuvi.Core.Entities.Tests/bin/
Sources/Tests/Tuvi.Core.Entities.Tests/obj/
Sources/Tests/Tuvi.Core.Mail.Impl.Tests/bin/
Sources/Tests/Tuvi.Core.Mail.Impl.Tests/obj/
Sources/Tests/Tuvi.Core.Tests/bin/
Sources/Tests/Tuvi.Core.Tests/obj/
Sources/Tests/Tuvi.Dec.Web.Impl.Tests/bin/
Sources/Tests/Tuvi.Dec.Web.Impl.Tests/obj/
Sources/Tuvi.Core.Dec.Bitcoin/obj/
Sources/Tuvi.Core.Dec.Bitcoin/bin/
Sources/Tests/Tuvi.Core.Dec.Bitcoin.Tests/obj/
Sources/Tests/Tuvi.Core.Dec.Bitcoin.Tests/bin/
Sources/Tuvi.Core.Dec.Impl/obj/
Sources/Tuvi.Core.Dec.Impl/bin/
Sources/Tuvi.Core.Dec.Ethereum/obj/
Sources/Tuvi.Core.Dec.Ethereum/bin/
Sources/Tests/Tuvi.Core.Dec.Ethereum.Tests/obj/
Sources/Tests/Tuvi.Core.Dec.Ethereum.Tests/bin/
