Sources/Tuvi.Core.Entities/obj/
Sources/Tuvi.Core.Entities/bin/
Sources/Tuvi.Core.Logging/obj/
Sources/Tuvi.Core.Logging/bin/
Sources/Tuvi.Core.DataStorage/obj/
Sources/Tuvi.Core.DataStorage/bin/
Sources/Tuvi.Core.Backup/obj/
Sources/Tuvi.Core.Backup/bin/
Sources/Tuvi.Core/obj/
Sources/Tuvi.Core/bin/
Sources/Tuvi.Core.Mail/obj/
Sources/Tuvi.Core.Mail/bin/
Sources/Tuvi.Core.Backup.Impl/obj/
Sources/Tuvi.Core.Backup.Impl/bin/
Sources/Tuvi.Core.Web.BackupServiceClient/obj/
Sources/Tuvi.Core.Web.BackupServiceClient/bin/
Sources/Tuvi.Core.Web.BackupService/obj/
Sources/Tuvi.Core.Web.BackupService/bin/
Sources/Tuvi.Core.Dec/obj/
Sources/Tuvi.Core.Dec/bin/
Sources/Tuvi.Core.Dec.Web.Impl/obj/
Sources/Tuvi.Core.Dec.Web.Impl/bin/
