# This workflow will build and test the project

name: Build and Test

on:
  push:
    branches:
      - main
      - develop
      - release/**
  pull_request:
    branches:
      - main
      - develop
      - release/**

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    env:
      project: Sources/Tuvi.Core.sln
      test-project: Sources/Tuvi.Core.sln
 
    steps:
    - name: Support longpaths
      if: ${{ matrix.os == 'windows-latest'}}
      run: git config --system core.longpaths true

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        submodules: recursive

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: 8.x

    # Build the application 
    - name: Build
      run: dotnet build ${{ env.project }} --configuration ${{ env.configuration }}
      env:
        configuration: ${{ matrix.configuration }}

    ## Execute all unit tests in the solution
    - name: Execute unit tests
      if: ${{ matrix.os != 'macos-latest'}}
      run: dotnet test ${{ env.test-project }} --configuration ${{ env.configuration }}
      env:
        configuration: ${{ matrix.configuration }}
